*{
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(206, 231, 223);
    color: black;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.rubrik h1 {
    text-align: center;
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(116, 230, 230); 
}

.rubrik-h2  {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.om-mig {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.intressen-rubrik {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
}

.intressen {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: square;
    margin-top: 20px;
    margin-bottom: auto;
}

.lärt-mig {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-bottom: 10px;
}

.lärt-mig-p
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
}

.intressen-p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

footer {
  text-align: center;
  color: #4b4a4a;
  font-size: 14px;
  margin-top: 40px;
}

#darkBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark {
    background-color: #302f2f;
    color: #cecccc;
}
